.catalogo {
  padding: 120px 6%;
  background-color: #000000;
  text-align: center;
  color: white;
}

.titulo-catalogo {
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 80px;
  font-weight: 500;
  color: white;
}

/* GALERÍA 3 POR FILA */
.grid-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

/* CARD */
.card-producto {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

/* IMAGEN PRINCIPAL FULL */
.imagen-container {
  width: 100%;
}

.imagen-principal {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  transition: 0.5s ease;
  border-radius: 10px;
}

.card-producto:hover .imagen-principal {
  transform: scale(1.05);
}

/* MINIATURAS */
.miniaturas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.miniaturas img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.miniaturas img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* INFO */
.info {
  padding: 20px 0 40px;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.info p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-whatsapp {
  display: inline-block;
  padding: 12px 35px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.3s ease;
}

.btn-whatsapp:hover {
  background: #25D366;
  transform: translateY(-3px);
}



.destacados {
    padding: 80px 5%;
    background-color: #272928cd;
    color: white;
}

.destacados .titulo-catalogo {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.card-producto  {
  position: relative;
}

.badge-stock {
  position: absolute;
  top: 30px;
  left: 0px;
  background: linear-gradient(45deg, #ff0000, #e32d27);
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 10px;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation:badgePulse 1.8s infinite;
}

@keyframes badgePulse{

0%{
transform:scale(1);
box-shadow:0 0 0 0 rgba(255, 1, 1, 0.7);
}

70%{
transform:scale(1.05);
box-shadow:0 0 0 10px rgba(255,0,0,0);
}

100%{
transform:scale(1);
box-shadow:0 0 0 0 rgba(255,0,0,0);
}

}