.catalogo {
  padding: 120px 6%;
  background: #000000;
  text-align: center;
  color: white;
}

.titulo-catalogo {
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 80px;
  font-weight: 500;
  color: white;
}

/* GALERÍA 3 POR FILA */
.grid-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

/* CARD */
.card-producto {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

/* IMAGEN PRINCIPAL FULL */
.imagen-container {
  width: 100%;
}

.imagen-principal {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  transition: 0.5s ease;
  border-radius: 10px;
}

.card-producto:hover .imagen-principal {
  transform: scale(1.05);
}

/* MINIATURAS */
.miniaturas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.miniaturas img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.miniaturas img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* INFO */
.info {
  padding: 20px 0 40px;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.info p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-whatsapp {
  display: inline-block;
  padding: 12px 35px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.3s ease;
}

.btn-whatsapp:hover {
  background: #25D366;
  transform: translateY(-3px);
}



.destacados {
    padding: 80px 5%;
    background: linear-gradient(180deg, #252424 0%, #3a3535 100%);
    color: white;
}

.destacados .titulo-catalogo {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}